.logo {
	width: 45px;
	margin: 2rem 2.5rem;
}

@media screen and (max-width: 42em) {
	.logo {
		width: 35px;
		margin: 0.5rem 0.5rem 1rem 0.5rem;
	}
}

.img-wrap {
	width: 180px;
	height: 250px;
	max-width: 100%;
	position: relative;
	display: flex;
    pointer-events: none;
    /* margin: 1rem; */
}

.img-drag {
	cursor: grab;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
	width: 100%;
	height: 100%;
	pointer-events: auto;
	will-change: transform;
}

.img-wrap:hover > * {
	filter: drop-shadow(0 0 0.5rem var(--siteYellow));
	-webkit-filter: drop-shadow(0 0 0.5rem var(--siteYellow));
	-moz-filter: drop-shadow(0 0 0.5remvar(--siteYellow));
}

.img-wrap:active > * {
	filter: drop-shadow(0 0 3rem var(--siteYellow));
	-webkit-filter: drop-shadow(0 0 3rem var(--siteYellow));
	-moz-filter: drop-shadow(0 0 3rem var(--siteYellow));
}

.img-trail {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.9;
	will-change: transform;
}

.img-wrap2 {
	width: 180px;
	height: 250px;
	max-width: 100%;
	position: relative;
	display: flex;
    pointer-events: none;
    /* margin: 1rem; */
}

.img-wrap2:hover > * {
	filter: drop-shadow(0 0 0.5rem var(--siteYellow));
	-webkit-filter: drop-shadow(0 0 0.5rem var(--siteYellow));
	-moz-filter: drop-shadow(0 0 0.5rem var(--siteYellow));
}

.img-wrap2:active > * {
	filter: drop-shadow(0 0 3rem var(--siteYellow));
	-webkit-filter: drop-shadow(0 0 3rem var(--siteYellow));
	-moz-filter: drop-shadow(0 0 3rem var(--siteYellow));
}


.img-drag2 {
	cursor: grab;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
	width: 100%;
	height: 100%;
	pointer-events: auto;
	will-change: transform;
}

.img-trail2 {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.9;
	border-radius: 1rem;
	will-change: transform;
}

@media screen and (max-width: 42em) {
	.content__drag-area {
		flex-direction: column;
		justify-content: end;
		position: relative;
	}
	.img-drag {
		transform: scale3d(0.7, 0.7, 0.7);
	}
	.img-drag2 {
		transform: scale3d(0.7, 0.7, 0.7);
	}
}

/* .img-wrap {
	flex: none;
	
}


.img-wrap2 {
	flex: none;

} */