@font-face {
    font-family: "Punta";
    font-weight: normal;
    font-style: normal;
    src: url("../assets/fonts/PuntaLight.otf");
}

@font-face {
  font-family: "Quivera";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/QuiveraRegular.otf");
}

.text-highlight {
  color: var(--siteYellow);
}

.click-drag {
  white-space: nowrap;
  margin-top: 15rem;
}

@media screen and (max-width: 45em) {
    .click-drag {
      margin-top: 0;
    }
}

.vertical {
    /* background-color: #DDDDDD; */
    /* padding: 10px; */
    /* border-radius: 0 0 5px 5px; */
    margin: 0 1rem 0 0;
    float: right;
    -moz-transform: rotate(90deg) translate(100%,100%);
    -webkit-transform: rotate(90deg) translate(100%,100%);
            transform: rotate(90deg) translate(100%,100%);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
}