@font-face {
    font-family: "Punta";
    font-weight: normal;
    font-style: normal;
    src: url("../assets/fonts/PuntaLight.otf");
  }

  @font-face {
    font-family: "Quivera";
    font-weight: normal;
    font-style: normal;
    src: url("../assets/fonts/QuiveraRegular.otf");
  }

  .title {
	font-size: 5rem;
	font-family: var(--specialFont);
	font-weight: var(--baseFontWt);
	margin: 0 2.5rem;
	position: relative;
	pointer-events: none;
	/* z-index: 1000; */
	color: var(--colourText);
}

.title-sub {
	font-family: var(--specialFont);
    margin: 0 2.5rem;
    /* z-index: 1000; */
}


  @media screen and (max-width: 42em) {
    .title {
        font-size: 3.5rem;
        text-align: center;
        margin: 0;
    }
    .title-sub {
        text-align: center;
        font-size: 1.25rem;
        margin: 0;
    }
}